<div class="wrapper">

    <div class="container-fluid bg-1 text-center me">
        <h3>Khalid Hussain</h3>
        <img src="img/me.jpg" class="img-circle" alt="Bird">
        <h3>Web Developer</h3>
    </div>

    <!--main content-->
    <div class="col col-lg-12">
        <h2>Content</h2>
        <div class="container-fluid bg-3 text-center">
            <h3>What do you want ?</h3>
            <div class="row">
                <div class="col-sm-4">
                    <p>Smart Phones</p>
                    <a href=""><img class="imagesSize" src="img/phones.jpg" alt="Image"></a>
                </div>
                <div class="col-sm-4">
                    <p>Laptops</p>
                    <a href="#leptop"><img class="imagesSize" src="img/laptop.jpg" alt="Image"></a>
                </div>
                <div class="col-sm-4">
                    <p>Computers</p>
                    <a href=""><img class="imagesSize" src="img/pc.jpg" alt="Image"></a>
                </div>
                <div class="col-sm-4">
                    <p>Smart Phones</p>
                    <a href=""><img class="imagesSize" src="img/phones.jpg" alt="Image"></a>
                </div>
                <div class="col-sm-4">
                    <p>Laptops</p>
                    <a href=""><img class="imagesSize" src="img/laptop.jpg" alt="Image"></a>
                </div>
                <div class="col-sm-4">
                    <p>Computers</p>
                    <a href=""><img class="imagesSize" src="img/pc.jpg" alt="Image"></a>
                </div>
            </div>
        </div>
    </div>

</div>